@charset "UTF-8";
/* CSS Document */

@font-face { font-family: TT2020StyleE; src: local('TT2020StyleE-Regular'), url('TT2020StyleE-Regular.woff2'); /* non-IE */ }

@keyframes title-shift {
  from { top: 50%; }
  to { top: 30% }
}

@keyframes fade-in {
  from { opacity: 0%; }
  to { opacity: 100%; }
}

x-body {
  background-image: url("../images/window.jpg");
  background-size: 50%;
  background-origin: 50%;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-color: black;
}

.scene {
  width: 550px;
  /* height: 400px; */
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -250px;
  font-family: "TT2020StyleE", "Courier", serif;
  font-size: 50px;
  color: black;
  animation-name: title-shift;
  animation-delay: 3s;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.scene .header {
  text-align: left;
  vertical-align: central;
  text-transform: uppercase;
}

.scene .header .int-ext {
  color: black;
}

.scene .header .location {
  color: #a60a3e;
}

.scene .time {
  color: lightgrey;
  animation-name: fade-in;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.scene .action {
  color: lightgrey;
  padding-top: 50px;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.scene .action a {
  color: darkgray;
}

.credit {
  display: none;
}

.scene > :nth-child(1) {
  animation-delay: 2s;
}

.scene > :nth-child(2) {
  animation-delay: 4s;
}

.scene > :nth-child(3) {
  animation-delay: 6s;
}

.scene > :nth-child(4) {
  animation-delay: 8s;
}

.scene > :nth-child(5) {
  animation-delay: 10s;
}

